services:
  cobalt:
    image: ghcr.io/imputnet/cobalt:10
    environment:
      - API_URL=http://cobalt:9000/
    networks:
      - wechef

  extraction:
    build:
      context: ./server
    ports:
      - "3000:3000"
    environment:
      - COBALT_URL=http://cobalt:9000/
      - WHISPER_URL=http://host.docker.internal:8080/v1/audio/transcriptions
      - OLLAMA_URL=http://host.docker.internal:11434/api/chat
    networks:
      - wechef

networks:
  wechef:
    driver: bridge
